<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form [formGroup]="form" (ngSubmit)="save()">
        <div class="form-group">
          <label for="name">
            Name
          </label>
          <input type="text" name="name" id="name" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
          <label for="email">
            Email
          </label>
          <input type="text" name="email" id="email" class="form-control" formControlName="email">
          <div *ngIf="form.controls['email'].hasError('pattern')" class="alert-primary">
            <p>Enter a valid email id</p>
          </div>
        </div>
        <div class="form-group">
          <label for="password">
            Password
          </label>
          <input type="password" name="password" id="password" class="form-control" formControlName="password">
          
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        
      </form>
    </div>
  </div>
</div>