<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs nav-justified">
        <li><a routerLink="/home" routerActive>Home</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/data">Data</a></li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
